
- 
+ REACT_APP_SUPABASE_URL=https://cmgzdfdkstkwenrlmted.supabase.co
+ REACT_APP_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNtZ3pkZmRrc3Rrd2VucmxtdGVkIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQ1MDgzOTksImV4cCI6MjA5MDA4NDM5OX0.957geay8rs99g-jEGAH5UAJKRHPtSbEz2SRDRukufjk
+ 